<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Home{%endblock%} | Budget</title>
    <link rel="icon" href="../static/images/calculator-line.png">
    <link rel="stylesheet" href="../static/stylesheets/styler.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <script src="../static/javascripts/main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
{%block body%}
    {%if logged == 'True'%}
        <div class="form-divs" id="form-divs">
            <div id="action-buttons">
                <button id="p_bud" class="act-button">Add Budget</button>
                <button id="p_cat" class="act-button">Add Category</button>
                <button id="logout" class="act-button">Log Out</button>
                <ul id="list-act-button">
                    <li><button id="p_bud_li">Add Budget</button></li>
                    <li><button id="p_cat_li">Add Category</button></li>
                    <li><button id="logout_li">Log Out</button></li>
                </ul>
            </div>
            <form action="" method="POST" id="form-cat">{% csrf_token %}
                <fieldset>
                    <legend>Add Budget for Category</legend>
                <label>
                <select name="selected_category" id="cat_sel">
                    <option value="">-------Select a Category-------</option>
                    <option value="Food">Food</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Entertainment">Entertainment</option>
                </select>
                </label>
                <br>
                <label>
                    <input type="number" placeholder="Budget: Rs. 0" name="entered_budget" id="bud-ent">
                </label>
                <br>
                <input type="submit" value="Add Budget" id="sub_bud">
                </fieldset>
            </form>
            <form action="" method="POST" id="form-cat_cat">{% csrf_token %}
                <fieldset>
                    <legend>Add a New Category</legend>
                <label>
                    <input type="text" placeholder="Category Name" name="entered_category" id="cat-ent">
                </label>
                <br>
                <input type="submit" value="Add Budget" id="sub_cat">
                </fieldset>
            </form>
        </div>
    {%else%}
        wrong
    {%endif%}
{%endblock%}
</body>
</html>
